@using System.Globalization
@using AttendanceRecorder.BlazorUi.Components.Helpers
@inject ApiClient ApiClient

<h2>Working Day</h2>

@if (_workingDay == null)
{
    <p>Loading working day...</p>
}
else
{
    <div class="alert alert-info"
         role="alert">@_workingDay.Date.ToString("dddd", CultureInfo.CreateSpecificCulture("en-US")) @_workingDay.Date.ToDateOnly() | @_workingDay.ActiveDuration</div>
    <div class="table-responsive">
        <table class="w-100">
            <tbody>
            @foreach (var interval in _workingDay.Intervals)
            {
                <tr class="@(interval.IsActive ? string.Empty : "text-gray")">
                    <td>@interval.Start ... @interval.End</td>
                    <td>@interval.Duration</td>
                    <td class="text-center">@(interval.IsActive ? "(active)" : "(inactive)")</td>
                    <td class="text-end">
                        <button type="button" class="btn" @onclick="() => DeleteInterval(interval)" title="Delete">
                            <span class="bi bi-x-circle"></span>
                        </button>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <div class="bar-container">
        @foreach (var interval in _workingDay.Intervals)
        {
            <div class="bar-element @(interval.IsActive ? "bar-element-active" : "bar-element-inactive")"
                 style="flex-grow: @(5 + interval.DurationPercentage);" data-bs-toggle="tooltip" data-bs-html="true"
                 title="@interval.Start ... @interval.End | @interval.Duration | @interval.DurationPercentage%"></div>
        }
    </div>
}

@code {
    [Parameter] public DateOnly? Date { get; set; }

    private DateOnly? _loadedDate;
    private WorkingDayDto? _workingDay;

    protected override async Task OnParametersSetAsync()
    {
        if (Date == null)
        {
            _workingDay = null;
            _loadedDate = null;
            return;
        }

        if (_loadedDate != Date)
        {
            _workingDay = await ApiClient.GetWorkingDayAsync(Date.Value.ToString("yyyy-MM-dd"));
            _loadedDate = Date;
        }
    }

    private async Task DeleteInterval(IntervalDto interval)
    {
        if (interval.IsActive)
        {
            // If an active interval is deleted, create an inactive merge to replace it
            _workingDay = await ApiClient.PostInactiveMergeAsync(
                Date!.Value.ToString("yyyy-MM-dd"),
                interval.Start, interval.End);
        }
        else
        {
            _workingDay = await ApiClient.PostActiveMergeAsync(
                Date!.Value.ToString("yyyy-MM-dd"),
                interval.Start, interval.End);
        }
    }

}