@inject ApiClient ApiClient

<h2>Working Day</h2>

@if (_workingDay == null)
{
    <p>Loading working day...</p>
}
else
{
    <div class="table-responsive">
        <table class="w-100">
            <tbody>
            @foreach (var interval in _workingDay.Intervals)
            {
                <tr class="@(interval.IsActive ? string.Empty : "text-gray")">
                    <td>@interval.Start</td>
                    <td>...</td>
                    <td>@interval.End</td>
                    <td>@interval.Duration</td>
                    <td>@(interval.IsActive ? "(active)" : "(inactive)")</td>
                    <td>
                        <button type="button" class="btn" title="Delete">
                            <span class="bi bi-x-circle"></span>
                        </button>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}

@code {
    [Parameter] public DateOnly? Date { get; set; }

    private DateOnly? _loadedDate;
    private WorkingDayDto? _workingDay;

    protected override async Task OnParametersSetAsync()
    {
        if (Date == null)
        {
            _loadedDate = null;
            return;
        }

        if (_loadedDate != Date)
        {
            _workingDay = await ApiClient.GetWorkingDayAsync(Date.Value.ToDateTime(TimeOnly.MinValue));
            _loadedDate = Date;
        }
    }
}